.contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.contact-avatar {
  width: 12rem;
  height: 12rem;
}

.contact-name {
  margin-top: 1rem;
}

.contact-position {
  font-size: 0.8rem;
  color: $gray-600;
}

.contact-data {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.contact-entry {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.contact-entry-icon {
  width: 3rem;
  font-size: 1.5rem;
}
