.fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
}

.fact-icon {
  font-size: 3rem;
}

.fact-number {
  font-size: 3rem;
}

.fact-label {
  color: rgba(255, 255, 255, 0.6);
}
