.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;

  @include media-breakpoint-up(md) {
    height: 900px;

    &:after {
      position: absolute;
      transform: rotate(-1.7deg);
      background-color: $white;
      content: '';
      z-index: 3;
      display: inline-block;
      height: 70px;
      padding: 0;
      width: 101%;
      bottom: -35px;
    }
  }

  @include media-breakpoint-up(xl) {
    height: 67vw;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  background: rgba(255, 255, 255, 1);

  &.show {
    height: 100vh;
  }
}

.nav-header {
  height: 50px;
  padding: 0 $spacer;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.nav-toggle {
  background: transparent;
  border: none;
  margin-left: auto;

  svg {
    height: 1rem;
  }
}

.nav-links {
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: $spacer $spacer;
    color: $gray-700;

    &:hover {
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.scrolled .nav,
.nav.expanded {
  display: flex;
  box-shadow: $box-shadow;
  background: rgba(255, 255, 255, 1);

  .nav-links {
    display: flex;
    opacity: 1;
  }
}

.nav.expanded .nav-links {
  max-height: 100vw;
}

.nav-logo {
  display: flex;

  svg {
    width: 100px;
  }
}

.header__background {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacer * 3 $spacer;
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  color: $black;
  justify-content: center;

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
  }

  small {
    display: block;
    text-transform: none;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .btn {
    margin-top: $spacer * 2;
    font-weight: 600;
    align-self: center;
    text-transform: uppercase;
    color: $black;
  }

  &:before {
    display: block;
    content: '';
    background: $schuetze-gelb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5000px;
    right: 0;
    z-index: -1;
    border-top-right-radius: 131px;
  }

  @include media-breakpoint-up(md) {
    top: 50%;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    transform: translateY(-50%);
    height: 262px;
    padding: 0 131px 0 0;

    h1 {
      font-size: 3rem;
      line-height: 1;
    }

    small {
      font-size: inherit;
    }

    strong {
      font-size: 4rem;
    }

    .btn {
      display: none;
    }

    &:before {
      border-bottom-right-radius: 131px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .nav {
    flex-direction: row;
    background: rgba(255, 255, 255, 0);
    transition: box-shadow 300ms linear, background 300ms linear;
  }

  .nav-header {
    height: 100px;
    padding: 0 $spacer * 2;
  }

  .nav-toggle {
    display: none;
  }

  .nav-links {
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: $spacer;
    display: none;
    opacity: 0;
    transition: opacity 300ms linear;
    max-height: none;

    ul {
      flex-direction: row;
      align-items: center;
    }

    li {
      height: 100%;
    }
  }

  .nav-logo {
    svg {
      width: 200px;
    }
  }
}
