.header {
  position: relative;
  height: 900px;
  overflow: hidden;

  @media (max-width: 1340px) {
    height: 67vw;
  }
}

.header__background {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 262px;
  padding-right: 131px;
  z-index: 2;
  color: $black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }

  small {
    display: block;
    text-transform: none;
    font-weight: 400;
    margin-top: 1rem;
  }

  strong {
    font-size: 4rem;
  }

  &:before {
    display: block;
    content: '';
    background: $schuetze-gelb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5000px;
    right: 0;
    z-index: -1;
    border-top-right-radius: 131px;
    border-bottom-right-radius: 131px;
  }
}

.header__logo {
  position: absolute;
  top: $spacer * 3;
  left: $spacer * 3;
  width: 200px;
}
