.banner {
  position: relative;
  height: 900px;
  overflow: hidden;

  @media (max-width: 1340px) {
    height: 67vw;
  }

  &:after {
    position: absolute;
    transform: rotate(-1.7deg);
    background-color: $white;
    content: '';
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
    bottom: -35px;
  }
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0);
  z-index: $zindex-fixed;
  transition: box-shadow 300ms linear, background 300ms linear;
  height: 50px;
  padding: 0 $spacer;

  ul {
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    transition: opacity 300ms linear;
    display: none;

    li {
      height: 100%;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 $spacer;
      color: $gray-700;
      transition: background-color 300ms linear;

      &:hover {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    justify-content: flex-start;

    ul {
      display: flex;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 100px;
    padding: 0 $spacer * 2;

    ul {
      font-size: 1.2rem;
    }

    .nav-logo svg {
      width: 200px;
    }
  }
}

.scrolled .nav {
  box-shadow: $box-shadow;
  background: rgba(255, 255, 255, 1);

  ul {
    opacity: 1;
  }
}

.nav-logo {
  display: flex;

  svg {
    width: 100px;
  }
}

.header__background {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 262px;
  padding-right: 131px;
  z-index: 2;
  color: $black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }

  small {
    display: block;
    text-transform: none;
    font-weight: 400;
    margin-top: 1rem;
  }

  strong {
    font-size: 4rem;
  }

  &:before {
    display: block;
    content: '';
    background: $schuetze-gelb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5000px;
    right: 0;
    z-index: -1;
    border-top-right-radius: 131px;
    border-bottom-right-radius: 131px;
  }
}
