.jobs {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;

  .card {
    text-align: center;
    min-height: 300px;
    padding: $spacer * 2;
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  }

  .card-icon {
    font-size: 2rem;
  }

  .card-title {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;

    small {
      color: $gray-600;
    }
  }

  .card-text {
    color: $gray-600;
  }

  .btn {
    margin-top: $spacer;
  }

  .card-blue {
    .card-icon {
      color: $schuetze-blau;
    }

    .btn {
      background-color: $schuetze-blau;
      border-color: $schuetze-blau;
    }
  }

  .card-red {
    .card-icon {
      color: $schuetze-rot;
    }

    .btn {
      background-color: $schuetze-rot;
      border-color: $schuetze-rot;
    }
  }

  .card-grey {
    .card-icon {
      color: $schuetze-grau;
    }

    .btn {
      background-color: $schuetze-grau;
      border-color: $schuetze-grau;
    }
  }
}
