.jobs {
  position: relative;
  bottom: 0;
  margin-top: -200px;
  z-index: 10;

  .card {
    position: relative;
    text-align: center;
    min-height: 300px;
    min-width: 20rem;
    padding: $spacer * 2;
    margin-bottom: $spacer * 3;
    border: none;
    box-shadow: $box-shadow;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;

    small {
      color: $gray-600;
    }
  }

  .card-text {
    color: $gray-600;
    margin-bottom: $spacer * 2;
  }

  .btn-primary {
    margin-top: auto;
  }
}

.job-icon {
  font-size: 5rem;
}

.job-modal {
  .modal-dialog {
    width: calc(100% - 1rem);
    max-width: 1000px;

    @include media-breakpoint-up(sm) {
      width: calc(100% - 3.5rem);
    }
  }

  .modal-content {
    height: 100%;
    border: none;
  }

  .modal-header {
    border: none;
  }

  .modal-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    padding-top: 1rem;

    small {
      color: $gray-600;
    }
  }

  .modal-body {
    padding: 2rem;
  }

  .lead {
    margin: -1rem -2rem 2rem;
    padding: 2rem;
    background-color: $primary;
  }

  h4 {
    margin-top: 2rem;
  }

  ul {
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .contact-header {
    text-align: center;
    margin-bottom: 2rem;
  }
}
