section {
  position: relative;
  margin: 2.5rem 0 2rem;

  header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      padding-bottom: $spacer * 2;
      margin-bottom: $spacer * 2;
      letter-spacing: 2px;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 2px;
        background: rgba(0, 0, 0, 0.5);
        left: 50%;
        margin-left: -40px;
        bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin: 7rem 0;

    header {
      margin-bottom: 5rem;

      p {
        padding: 0 $spacer * 10;
      }
    }
  }
}

.section-dark {
  padding: 7rem 0;
  background: $schuetze-blau;
  background: radial-gradient(
    circle at bottom right,
    #{lighten($schuetze-blau, 20)},
    $schuetze-blau 1000px
  );

  &:before {
    position: absolute;
    transform: rotate(-1.7deg);
    background-color: $white;
    content: '';
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
    top: -35px;
  }

  &:after {
    position: absolute;
    transform: rotate(-1.7deg);
    background-color: $white;
    content: '';
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
    bottom: -35px;
  }

  header {
    h2 {
      color: $white;

      &:after {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    p {
      color: $white;
    }
  }
}
