<section class="about section-grau" id="ueber">
  <div class="container">
    <header>
      <h2>Über Schütze AG</h2>
      <p>
        Die Schütze AG ist ein mittelständisches IT-Unternehmen. Wir betreuen
        seit über 20 Jahren deutschlandweit anspruchsvolle IT-Projekte. Wir
        analysieren die bestehende IT-Landschaft und entwickeln gemeinsam mit
        unseren Kunden individuelle Konzepte und Architekturen. Dabei stehen bei
        uns das Interesse am Gegenüber und ein hohes Qualitätsbewusstsein an
        erster Stelle.
      </p>
      <p>
        Du findest uns an mehreren Standorten in Deutschland. Seit Ende 2018
        haben wir einen weiteren Standort im Main-Kinzig-Kreis in Hanau
        eröffnet. Unsere Büroräume befinden sich im modernen Coworking-Space
        Kinzig Valley.
      </p>
      <p>
        <strong>Was uns als Arbeitgeber so besonders macht?</strong><br />Eigene
        Ideen, Vorschläge und Lösungen sind jederzeit willkommen und haben nach
        gemeinsamer Beratung eine realistische Chance zur Umsetzung. Persönliche
        und unternehmerische Ziele werden nicht vom Management vorgegeben,
        sondern gemeinsam mit den Mitarbeitenden entwickelt, diskutiert und
        festgelegt. Angefangen bei der Projektunterstützung, Entwicklung bis hin
        zur selbstständigen Projektleitung mit Führungsverantwortung und darüber
        hinaus – wir unterstützen dich, je nachdem wo du hinmöchtest und deine
        Stärken liegen.
      </p>
    </header>
    <footer class="kununu-badges">
      <a
        href="https://www.kununu.com/de/schuetze-consulting1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="static/kununu_score.svg" alt="Kununu-Bewertung: 4,80" />
      </a>
      <a
        href="https://www.kununu.com/de/schuetze-consulting1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="static/kununu_top_company.png"
          alt="Kununu Top Company - von Mitarbeitern empfohlen!"
        />
      </a>
      <a
        href="https://www.kununu.com/de/schuetze-consulting1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="static/kununu_open_company.png"
          alt="Kununu Open Company - wir leben Offenheit!"
        />
      </a>
    </footer>
    <footer class="awards">
      <a
        href="https://www.stern.de/wirtschaft/unternehmen-mit-zukunft--stern-studie-nimmt-firmen-unter-die-lupe-8916458.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="static/stern.svg"
          alt="Stern: Deutschlands unternehmen mit Zukunft"
        />
      </a>
      <a
        href="https://www.eltern.de/beste-unternehmen"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="static/eltern.svg"
          alt="Eltern: Beste Unternehmen für Familien"
        />
      </a>
    </footer>
  </div>
</section>
