<section class="apply section-red">
  <div class="container">
    <header>
      <h2>Deine Bewerbung</h2>
      <p>
        Wenn du motiviert bist, dein IT-Wissen in unser Gründungsteam zubringen
        und unseren neuen Standort im Main-Kinzig-Kreis mit aufzubauen, dann
        zögere nicht und bewerbe dich. Jessica Töpfer freut sich auf deine
        Bewerbung!
      </p>
      <p>
        Keine der ausgeschriebenen Stellen passt zu dir? Dann sende uns gerne
        eine Initiativbewerbung und erzähle uns von deinen Stärken. Wir schauen
        gemeinsam, welcher Job am besten zu dir passt!
      </p>
    </header>

    <main class="contact">
      <div class="contact-profile">
        <picture>
          <source srcset="static/jessicatoepfer.webp" type="image/webp" />
          <img
            src="static/jessicatoepfer.png"
            type="image/png"
            class="contact-avatar"
            alt="Foto von Jessica Töpfer"
          />
        </picture>
        <div class="contact-name">Jessica Töpfer</div>
        <div class="contact-position">HR-Managerin</div>
      </div>
      <div class="contact-data">
        <div class="contact-entry">
          <img inline src="static/home.svg" class="icon contact-entry-icon" />
          <div class="contact-entry-value">
            Barbarossastraße 61<br />63571 Gelnhausen
          </div>
        </div>
        <div class="contact-entry">
          <img inline src="static/phone.svg" class="icon contact-entry-icon" />
          <div class="contact-entry-value">
            <a href="tel:+4930318050900">+49 (0)30 3180509-00</a>
          </div>
        </div>
        <div class="contact-entry">
          <img
            inline
            src="static/envelope.svg"
            class="icon contact-entry-icon"
          />
          <div class="contact-entry-value">
            <a href="mailto:jobs@schuetze.ag">jobs@schuetze.ag</a>
          </div>
        </div>
        <div class="contact-entry">
          <img inline src="static/globe.svg" class="icon contact-entry-icon" />
          <div class="contact-entry-value">
            <a href="https://www.schuetze.ag/">www.schuetze.ag</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
