<section class="apply section-rot">
  <div class="container">
    <header>
      <h2>Deine Bewerbung</h2>
      <p>
        Wenn du motiviert bist, dein IT-Wissen in unser Gründungsteam zubringen
        und unseren neuen Standort im Main-Kinzig-Kreis mit aufzubauen, dann
        zögere nicht und bewerbe dich. Jessica Töpfer freut sich auf deine
        Bewerbung!
      </p>
      <p>
        Keine der ausgeschriebenen Stellen passt zu dir? Dann sende uns gerne
        eine Initiativbewerbung und erzähle uns von deinen Stärken. Wir schauen
        gemeinsam, welcher Job am besten zu dir passt!
      </p>
    </header>

    <% include contact %>
  </div>
</section>
