<div class="contact">
  <div class="contact-profile">
    <picture>
      <source srcset="static/jessicatoepfer.webp" type="image/webp" />
      <img
        src="static/jessicatoepfer.png"
        type="image/png"
        class="contact-avatar"
        alt="Foto von Jessica Töpfer"
        loading="lazy"
      />
    </picture>
    <div class="contact-name">Jessica Töpfer</div>
    <div class="contact-position">HR-Managerin</div>
  </div>
  <div class="contact-data">
    <div class="contact-entry">
      <img inline src="static/home.svg" class="icon contact-entry-icon" />
      <div class="contact-entry-value">
        Barbarossastraße 61<br />63571 Gelnhausen
      </div>
    </div>
    <div class="contact-entry">
      <img inline src="static/phone.svg" class="icon contact-entry-icon" />
      <div class="contact-entry-value">
        <a href="tel:+4930318050900">+49 (0)30 3180509-00</a>
      </div>
    </div>
    <div class="contact-entry">
      <img inline src="static/envelope.svg" class="icon contact-entry-icon" />
      <div class="contact-entry-value">
        <a href="mailto:jobs@schuetze.ag">jobs@schuetze.ag</a>
      </div>
    </div>
    <div class="contact-entry">
      <img inline src="static/globe.svg" class="icon contact-entry-icon" />
      <div class="contact-entry-value">
        <a href="https://www.schuetze.ag/">www.schuetze.ag</a>
      </div>
    </div>
  </div>
</div>
