<div class="contact">
  <div class="contact-profile">
    <picture>
      <source srcset="static/jessicatoepfer.webp" type="image/webp" />
      <img
        src="static/jessicatoepfer.png"
        type="image/png"
        class="contact-avatar"
        alt="Foto von Jessica Töpfer"
        loading="lazy"
      />
    </picture>
    <div class="contact-name">Jessica Töpfer</div>
    <div class="contact-position">HR-Managerin</div>
  </div>
  <div class="contact-data">
    <div class="contact-entry">
      <img
        inline
        src="static/icons/home.svg"
        class="icon contact-entry-icon"
        alt="Adresse"
      />
      <div class="contact-entry-value">
        <a
          href="https://goo.gl/maps/xxig3AbfcuYWJQt58"
          target="_blank"
          rel="noopener noreferrer"
        >
          Hessen-Homburg-Platz 1<br />63452 Hanau
        </a>
      </div>
    </div>
    <div class="contact-entry">
      <img
        inline
        src="static/icons/phone.svg"
        class="icon contact-entry-icon"
        alt="Telefon"
      />
      <div class="contact-entry-value">
        <a href="tel:+4930318050900">+49 (0)30 3180509-00</a>
      </div>
    </div>
    <div class="contact-entry">
      <img
        inline
        src="static/icons/envelope.svg"
        class="icon contact-entry-icon"
        alt="E-Mail"
      />
      <div class="contact-entry-value">
        <a href="mailto:jobs@schuetze.ag">jobs@schuetze.ag</a>
      </div>
    </div>
    <div class="contact-entry">
      <img
        inline
        src="static/icons/globe.svg"
        class="icon contact-entry-icon"
        alt="Webseite"
      />
      <div class="contact-entry-value">
        <a href="https://www.schuetze.ag/">www.schuetze.ag</a>
      </div>
    </div>
  </div>

  <div class="contact-action">
    <a class="btn btn-primary btn-lg" href="mailto:jobs@schuetze.ag">
      Jetzt bewerben
    </a>
  </div>
</div>
