<div class="cookie-banner fade">
  <div class="cookie-banner-content">
    <p>
      Diese Website verwendet Google Analytics - jedoch nur, wenn Sie damit
      einverstanden sind. Mit den erfassten Daten optimieren wir unseren Service
      für Sie, um Ihnen stets die beste Nutzererfahrung zu bieten. Wir erläutern
      die Erfassung und Verwendung Ihrer Daten ausführlich in unseren
      <a href="https://www.schuetze.ag/datenschutz.html" target="_blank"
        >Datenschutzhinweisen</a
      >.
    </p>
    <div class="actions">
      <button class="btn btn-primary">Ich stimme zu</button>
      <button class="btn btn-outline-secondary">Ich stimme nicht zu</button>
    </div>
  </div>
</div>
