<section class="facts section-dark section-rot" id="facts">
  <div class="container">
    <header>
      <h2>Zahlen Daten Fakten</h2>
    </header>

    <main class="row">
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/icons/users.svg" class="icon fact-icon" />
          <div class="fact-number js-counter" data-speed="2000">
            132
          </div>
          <div class="fact-label">Mitarbeiter</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/icons/briefcase.svg" class="icon fact-icon" />
          <div class="fact-number js-counter" data-speed="2500">
            148
          </div>
          <div class="fact-label">Kunden</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/icons/code.svg" class="icon fact-icon" />
          <div class="fact-number js-counter" data-speed="3000">
            4.856.152
          </div>
          <div class="fact-label">Zeilen Code</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/icons/home.svg" class="icon fact-icon" />
          <div class="fact-number js-counter" data-speed="1500">
            6
          </div>
          <div class="fact-label">Standorte</div>
        </div>
      </div>
    </main>
  </div>
</section>
