<section class="facts section-dark section-red">
  <div class="container">
    <header>
      <h3>Zahlen Daten Fakten</h3>
    </header>

    <div class="row">
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/users.svg" class="icon fact-icon" />
          <div class="fact-number">132</div>
          <div class="fact-label">Mitarbeiter</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/briefcase.svg" class="icon fact-icon" />
          <div class="fact-number">148</div>
          <div class="fact-label">Kunden</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/code.svg" class="icon fact-icon" />
          <div class="fact-number">4.856.152</div>
          <div class="fact-label">Zeilen Code</div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="fact">
          <img inline src="static/home.svg" class="icon fact-icon" />
          <div class="fact-number">6</div>
          <div class="fact-label">Standorte</div>
        </div>
      </div>
    </div>
  </div>
</section>
