<footer class="footer">
  <div class="copyright">&copy; 2019 Schütze AG</div>
  <div class="footer-links">
    <a href="https://www.schuetze.ag/datenschutz.html" target="_blank"
      >Datenschutz</a
    >
    <a href="https://www.schuetze.ag/impressum.html" target="_blank"
      >Impressum</a
    >
  </div>
  <div class="footer-icons">
    <a
      href="https://www.linkedin.com/company/sch%C3%BCtze-consulting-ag/"
      target="_blank"
      rel="noopener nofollower"
      title="Öffnet das LinkedIn-Profile der Schütze AG in einem neuen Fenster"
    >
      <img inline src="static/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a
      href="https://www.xing.com/companies/schützeconsultingag"
      target="_blank"
      rel="noopener nofollower"
      title="Öffnet das XING-Profile der Schütze AG in einem neuen Fenster"
    >
      <img inline src="static/icons/xing.svg" alt="XING" />
    </a>
    <a
      href="https://www.kununu.com/de/schuetze-consulting1"
      target="_blank"
      rel="noopener nofollower"
      title="Öffnet das Kununu-Profile der Schütze AG in einem neuen Fenster"
    >
      <img inline src="static/icons/kununu.svg" alt="Kununu" />
    </a>
  </div>
</footer>
