<header class="header" id="top">
  <% include nav %>
  <div class="banner">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="static/title-mobile.webp"
        type="image/webp"
      />
      <source
        media="(max-width: 768px)"
        srcset="static/title-mobile.jpg"
        type="image/jpeg"
      />
      <source srcset="static/title-desktop.webp" type="image/webp" />
      <source srcset="static/title-desktop.jpg" type="image/jpeg" />
      <img
        src="static/title-desktop.jpg"
        type="image/jpeg"
        alt=""
        aria-hidden="true"
        class="header__background"
      />
    </picture>
    <div class="container">
      <div class="header__content">
        <h1>
          Bei uns<br />gestaltest du <strong>IT</strong>
          <small>und hast Zeit für deine Hobbys.</small>
        </h1>
        <a href="#jobs" class="btn btn-outline-dark">Finde deinen Job</a>
      </div>
    </div>
  </div>
</header>
