<div class="card">
  <div class="card-body">
    <img inline src="static/icons/prize.svg" class="icon job-icon" />
    <h3 class="card-title">Qualitäts&shy;manager <small>(m/w/d)</small></h3>
    <div class="card-text">
      Du hast ein hohes Qualitätsbewusstsein und arbeitest detailorientiert an
      Prozess- und Produktverbesserungen?
    </div>
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#job-qs-modal"
      aria-controls="job-qs-modal"
      title="Öffnet Details zum Stellenangebot in einem Dialog"
    >
      Mehr erfahren
    </button>
  </div>
</div>
