<div
  id="job-qs-modal"
  class="modal job-modal job-rot fade"
  role="dialog"
  aria-labelledby="job-qs-modal-title"
  tabindex="-1"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="job-qs-modal-title">
          <img inline src="static/lightbulb.svg" class="icon job-icon" />
          Qualitäts-Manager
          <small>(m/w/d)</small>
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Schließen"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          Nicht billige Produkte sichern unsere Wettbewerbsfähigkeit, sondern
          bessere.
        </p>
        <p>
          Wir suchen ab sofort Qualitätsmanager (m/w/d) in unbefristeter
          Festanstellung für unseren Standort im Main-Kinzig-Kreis.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <h4>Deine Mission bei uns</h4>
            <ul>
              <li>
                Festlegung von Qualitätsmerkmalen für den Entwurf und die
                Realisierung von komplexen Softwarekomponenten und Plattformen
              </li>
              <li>
                Systematische Testfallerstellung und Testdurchführung
              </li>
              <li>
                Konzeption und Umsetzung von automatisierten Test
              </li>
              <li>
                Weiterentwicklung der Testwerkzeuge
              </li>
              <li>
                Aus- und Aufbau Testinfrastruktur
              </li>
              <li>
                Fehlerprotokollierung und Erstellen von Reproduktionsanleitungen
              </li>
              <li>
                Erstellung von Dokumentationen, Schulungsunterlagen und
                Onlinehilfen
              </li>
              <li>
                Erstellung und Überwachung der Metriken zur Messung der Qualität
              </li>
              <li>
                2nd-Level Kundensupport
              </li>
            </ul>
          </div>

          <div class="col-lg-6">
            <h4>Damit überzeugst Du uns</h4>
            <ul>
              <li>
                Erfahrung im Umgang mit Werkzeugen des Softwaretestprozesses
                (z.B. SonarCube, TestRail, JMeter, Polarion, Jira)
              </li>
              <li>
                Kenntnisse der gängigen Tools und Frameworks zur
                Testautomatisierung (z.B. JUnit, Cypress, TestNG, KarateDSL)
              </li>
              <li>
                Kenntnisse in verteilten Softwarearchitekturen (SOA, Micro
                Services, Single Page Applications) ist wünschenswert
              </li>
              <li>
                Zertifizierung ISTQB Foundation Level ist von Vorteil
              </li>
              <li>
                Teamfähigkeit, ein hohes Qualitätsbewusstsein und eine gesunde
                Portion Humor runden Dein Profil ab.
              </li>
            </ul>
          </div>
        </div>

        <h4 class="contact-header">Wir freuen uns auf deine Bewerbung!</h4>
        <% include contact %>
      </div>
    </div>
  </div>
</div>
