<div class="card">
  <div class="card-body">
    <img inline src="static/icons/rocket.svg" class="icon job-icon" />
    <h3 class="card-title">Software-Entwickler <small>(m/w/d)</small></h3>
    <div class="card-text">
      Du willst für je&shy;des Prob&shy;lem ei&shy;ne Lös&shy;ung fin&shy;den
      und hast Spaß an der Ent&shy;wick&shy;lung von Micro&shy;servi&shy;ces? Ob
      Backend, Frontend oder Full-Stack: komm zu uns!
    </div>
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#job-entwickler-modal"
      aria-controls="job-entwickler-modal"
      title="Öffnet Details zum Stellenangebot in einem Dialog"
    >
      mehr erfahren
    </button>
  </div>
</div>
