<div
  id="job-entwickler-modal"
  class="modal job-modal job-blau fade"
  role="dialog"
  aria-labelledby="job-entwickler-modal-title"
  tabindex="-1"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="job-entwickler-modal-title">
          <img inline src="static/wrench.svg" class="icon job-icon" />
          Software-Entwickler Backend, Frontend oder Full-Stack
          <small>(m/w/d)</small>
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Schließen"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          Du willst für jedes Problem eine Lösung finden und hast Spaß an der
          Entwicklung von Microservices? Dann werde Teil unseres
          Entwicklungsteams!
        </p>
        <p>
          Wir suchen ab sofort Software-Entwickler Backend, Frontend oder
          Full-Stack (m/w/d) in unbefristeter Festanstellung für unseren
          Standort im Main-Kinzig-Kreis.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <h4>Wie wir arbeiten</h4>
            <ul>
              <li>
                Wir legen hohen Wert auf Qualität und automatisierte Tests, z.B.
                mit Karate, Cypress und Sonar.
              </li>
              <li>
                Innerhalb der vom Kunden festgelegten Grenzen steht den Teams
                die Auswahl der Sprachen und Werkzeuge frei.
              </li>
              <li>
                Zur Zeit arbeiten wir hauptsächlich mit Java und dem
                Spring-Framework im Backend und TypeScript und React im
                Frontend. Du findest Go besser? Überzeuge dein Team und los
                geht's!
              </li>
              <li>Schnittstellen bauen wir mit REST und GraphQL.</li>
              <li>Accessibility ist für uns nicht nur nice-to-have.</li>
            </ul>
          </div>

          <div class="col-lg-6">
            <h4>Damit überzeugst Du uns</h4>
            <ul>
              <li>
                Du hast sehr gute Kenntnisse in der Programmierung mit
                mindestens zwei Sprachen, darunter idealerweise Java, Kotlin,
                JavaScript oder TypeScript.
              </li>
              <li>
                Im Backend: Du hast Erfahrung mit dem Spring Framework, Spring
                Boot und Maven und in der Verwendung von Datenbanken.
              </li>
              <li>
                Im Frontend: Du hast Erfahrung im Bereich der Entwicklung mit
                HTML, CSS, JavaScript und UI-Libraries wie React, Vue oder
                Angular.
              </li>
              <li>
                Vielleicht kennst du dich sogar mit Docker, Kubernetes,
                OpenShift und Continuous Delivery aus.
              </li>
              <li>
                Das Schreiben von Tests aller Art ist für dich nicht bloß eine
                lästige Pflicht.
              </li>
              <li>
                Du kennst und lebst die Prinzipien der agilen
                Software-Entwicklung.
              </li>
              <li>Du beherrschst deutsch auf mindestens C2-Niveau.</li>
              <li>
                Du hast eine analytische Auffassungsgabe, bist teamfähig und
                kommunikativ, kannst Kritik geben und annehmen und hast eine
                gesunde Portion Humor.
              </li>
            </ul>
          </div>
        </div>

        <h4>Wir freuen uns auf deine Bewerbung!</h4>
        <% include contact %>
      </div>
    </div>
  </div>
</div>
