<div class="card job-rot">
  <div class="card-body">
    <img inline src="static/lightbulb.svg" class="icon job-icon" />
    <h3 class="card-title">Qualitäts&shy;manager <small>(m/w/d)</small></h3>
    <div class="card-text">
      Nicht billige Produkte sichern unsere Wettbewerbsfähigkeit, sondern
      bessere.
    </div>
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#job-qs-modal"
      aria-controls="job-qs-modal"
      title="Öffnet Details zum Stellenangebot in einem Dialog"
    >
      mehr erfahren
    </button>
  </div>
</div>
