<section class="jobs">
  <div class="container">
    <header>
      <h2 class="sr-only">Jobs</h2>
    </header>
    <main class="card-deck">
      <div class="card card-blue">
        <div class="card-body">
          <img inline src="static/wrench.svg" class="icon card-icon" />
          <h3 class="card-title">
            Backend-Entwickler Java <small>(m/w/d)</small>
          </h3>
          <div class="card-text">
            Du willst für je&shy;des Prob&shy;lem ei&shy;ne Lös&shy;ung
            fin&shy;den und hast Spaß an der Ent&shy;wick&shy;lung von
            Micro&shy;servi&shy;ces mit dem Spring-Frame&shy;work? Dann komm zu
            uns!
          </div>
          <a
            href="https://www.schuetze.ag/karriere/offene-stellen/java-entwickler-w-m-d.html"
            target="_blank"
            class="btn btn-primary"
            title="Öffnet die Stellenanzeige in einem neuen Fenster"
          >
            mehr erfahren
          </a>
        </div>
      </div>

      <div class="card card-red">
        <div class="card-body">
          <img inline src="static/rocket.svg" class="icon card-icon" />
          <h3 class="card-title">
            Frontend-Entwickler React <small>(m/w/d)</small>
          </h3>
          <div class="card-text">
            Kom&shy;po&shy;nen&shy;ten, Hooks, UX und Accessi&shy;bili&shy;ty
            sind dein Zu&shy;hau&shy;se? Dann baue mit uns
            an&shy;spruchs&shy;vol&shy;le Platt&shy;form&shy;en für die
            Ver&shy;walt&shy;ung von mor&shy;gen!
          </div>
          <a
            href="https://www.schuetze.ag/karriere/offene-stellen/java-entwickler-w-m-d-frontend.html"
            target="_blank"
            class="btn btn-primary"
            title="Öffnet die Stellenanzeige in einem neuen Fenster"
          >
            mehr erfahren
          </a>
        </div>
      </div>

      <div class="card card-grey">
        <div class="card-body">
          <img inline src="static/lightbulb.svg" class="icon card-icon" />
          <h3 class="card-title">
            Qualitäts&shy;manager <small>(m/w/d)</small>
          </h3>
          <div class="card-text">
            Du willst für jedes Problem eine Lösung finden und hast Spaß an der
            Java-Entwicklung?
          </div>
          <a
            href="https://www.schuetze.ag/karriere/offene-stellen/java-entwickler-w-m-d.html"
            target="_blank"
            class="btn btn-primary"
            title="Öffnet die Stellenanzeige in einem neuen Fenster"
          >
            mehr erfahren
          </a>
        </div>
      </div>
    </main>
  </div>
</section>
