<section class="jobs">
  <div class="container">
    <header><h2>Jobs</h2></header>
    <main class="row">
      <div class="col-12 col-lg-4">
        <div class="card card-grey">
          <div class="card-body">
            <img inline src="static/lightbulb.svg" class="icon card-icon" />
            <h3 class="card-title">
              Qualitäts&shy;manager <small>(m/w/d)</small>
            </h3>
            <div class="card-text">
              Du willst für jedes Problem eine Lösung finden und hast Spaß an
              der Java-Entwicklung?
            </div>
            <button class="btn btn-primary">mehr erfahren</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card card-red">
          <div class="card-body">
            <img inline src="static/wrench.svg" class="icon card-icon" />
            <h3 class="card-title">
              Backend-Entwickler Java <small>(m/w/d)</small>
            </h3>
            <div class="card-text">
              Du willst für jedes Problem eine Lösung finden und hast Spaß an
              der Java-Entwicklung?
            </div>
            <button class="btn btn-primary">mehr erfahren</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card card-blue">
          <div class="card-body">
            <img inline src="static/rocket.svg" class="icon card-icon" />
            <h3 class="card-title">
              Frontend-Entwickler React <small>(m/w/d)</small>
            </h3>
            <div class="card-text">
              Du willst für jedes Problem eine Lösung finden und hast Spaß an
              der Java-Entwicklung?
            </div>
            <button class="btn btn-primary">mehr erfahren</button>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
