<section class="jobs">
  <div class="container">
    <header>
      <h2 class="sr-only">Jobs</h2>
    </header>
    <main class="card-deck">
      <% include job-developer %> <% include job-qs %>
    </main>
  </div>
</section>
