<nav class="nav">
  <a href="#top" class="nav-logo">
    <img inline src="static/logo.svg" alt="Schütze AG" />
  </a>
  <ul>
    <li><a href="#jobs">Jobs</a></li>
    <li><a href="#benefits">Benefits</a></li>
    <li><a href="#prozess">Bewerbungsprozess</a></li>
    <li><a href="#ueber">Über uns</a></li>
    <li><a href="#bewerbung">Bewerbung</a></li>
  </ul>
</nav>
