<nav class="nav">
  <div class="nav-header">
    <a href="#top" class="nav-logo" title="zum Seitenanfang">
      <img inline src="static/logo.svg" alt="Schütze AG" />
    </a>
    <button class="nav-toggle" aria-controls="nav-links">
      <img inline src="static/icons/menu.svg" />
    </button>
  </div>
  <div class="nav-links" id="nav-links">
    <ul>
      <li><a href="#jobs">Jobs</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#prozess">Bewerbungsprozess</a></li>
      <li><a href="#ueber">Über uns</a></li>
      <li><a href="#bewerbung">Bewerbung</a></li>
    </ul>
  </div>
</nav>
