<section class="process section-dark section-grau" id="prozess">
  <div class="container">
    <header>
      <h2>Unser Bewerbungs&shy;prozess</h2>
      <p>
        Wir wollen dich auch über das Vorstellungsgespräch hinaus kennenlernen
        und auch dir die Möglichkeit geben, in unseren Arbeitsalltag
        reinzuschnuppern. Bei unserer Hospitation blickst du hinter die
        Kulissen, lernst das Team und unseren Arbeitsalltag kennen und kannst so
        schnell einschätzen und bewerten, ob auch wir zu dir passen.
      </p>
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="static/bewerbungsprozess-mobile.svg"
          type="image/svg+xml"
        />
        <source
          srcset="static/bewerbungsprozess-desktop.svg"
          type="image/svg+xml"
        />
        <img
          src="static/bewerbungsprozess-desktop.svg"
          class="mt-5"
          alt="Unser Bewerbungsprozess: Angebots-Sichtung, Telefon-Interview, Kurzaufgabe, Vorstellungsgespräch, Hospitation, Vertragsverhandlung, Willkommen!"
          loading="lazy"
        />
      </picture>
    </header>
  </div>
</section>
