<section class="testimonials section-blau">
  <div class="container">
    <header>
      <h2>Das sagt das Team</h2>
      <p>
        Das sagen Mitarbeiter und Mitarbeiterinnen der Schütze AG über ihre
        Ar&shy;beit, das Kli&shy;ma und die Kolleg&shy;innen und Kolleg&shy;en.
        Weitere Erfahrungs&shy;berichte findest du auf unserer
        <a
          href="https://www.kununu.com/de/schuetze-consulting1"
          target="_blank"
          rel="noopener noreferrer"
        >
          Kununu-Seite </a
        >.
      </p>
    </header>

    <main class="row">
      <div class="col-12 col-lg-4 quote">
        <blockquote>
          „Die Zufrieden&shy;heit der Mit&shy;arbeit&shy;er steht bei Schütze
          ge&shy;nau&shy;so im Vor&shy;der&shy;grund wie die
          Zu&shy;frie&shy;den&shy;heit der Kun&shy;den. Des&shy;halb ist nicht
          nur für flexib&shy;le Arbeits&shy;zeiten, enor&shy;me
          Familien&shy;freund&shy;lich&shy;keit und jede Menge Perks
          ge&shy;sorgt – auch wer&shy;den Heraus&shy;forder&shy;ungen
          aus&shy;schließ&shy;lich im Team ange&shy;packt.“
        </blockquote>
        <div class="author">
          <picture>
            <source srcset="static/jonasstrauss.webp" type="image/webp" />
            <img
              src="static/jonasstrauss.png"
              type="image/png"
              class="author-avatar"
              alt="Foto von Jonas Strauß"
              loading="lazy"
            />
          </picture>
          <div class="author-name">Jonas Strauß<small>BI Berater</small></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 quote">
        <blockquote>
          „Ich schätze das kol&shy;leg&shy;iale und herz&shy;liche
          Mit&shy;ein&shy;ander bei der Schütze AG sehr. Bei Fra&shy;gen und
          Prob&shy;lem&shy;en kann ich jeder&shy;zeit auf die
          Unter&shy;stütz&shy;ung so&shy;wohl mei&shy;ner Kol&shy;leg&shy;en als
          auch mei&shy;nes Vor&shy;gesetz&shy;ten ver&shy;trau&shy;en.
          Flex&shy;ib&shy;le Arbeits&shy;zeit&shy;en und
          ver&shy;schie&shy;de&shy;ne
          Schul&shy;ungs&shy;mög&shy;lich&shy;keit&shy;en, wie Soft Skills- oder
          fach&shy;liche Work&shy;shops, sind nur eini&shy;ge der
          zahl&shy;reich&shy;en Be&shy;ne&shy;fits, die uns die Schütze AG
          biet&shy;et. Bei re&shy;gel&shy;mäß&shy;ig&shy;en Team&shy;events, wie
          z.B. beim Gril&shy;len od&shy;er bei ein&shy;em
          Volley&shy;ball&shy;match, kann man die Kol&shy;leg&shy;en fern&shy;ab
          vom Schreib&shy;tisch ken&shy;nen&shy;lern&shy;en. Ich füh&shy;le mich
          bei der Schütze AG seit mein&shy;em erst&shy;en Ar&shy;beits&shy;tag
          sehr wohl.“
        </blockquote>
        <div class="author">
          <picture>
            <source srcset="static/thuhangnguyen.webp" type="image/webp" />
            <img
              src="static/thuhangnguyen.png"
              type="image/png"
              class="author-avatar"
              alt="Foto von Thu Hang Nguyen"
              loading="lazy"
            />
          </picture>
          <div class="author-name">
            Thu Hang Nguyen<small>Werkstudentin Beratung</small>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 quote">
        <blockquote>
          „Vor 15 Jahr&shy;en ha&shy;be ich als Prak&shy;ti&shy;kant&shy;in bei
          der Schütze AG an&shy;ge&shy;fang&shy;en. In die&shy;ser Zeit
          konn&shy;te ich mich in der
          Qua&shy;li&shy;täts&shy;sich&shy;er&shy;ung stark
          wei&shy;ter&shy;ent&shy;wick&shy;eln und zu&shy;dem den
          Ent&shy;wick&shy;lungs&shy;pro&shy;zess des
          Un&shy;ter&shy;neh&shy;mens haut&shy;nah ver&shy;folg&shy;en. Ich
          kom&shy;me je&shy;den Tag ger&shy;ne zur Ar&shy;beit, da ein
          pro&shy;fess&shy;io&shy;nel&shy;les
          Qua&shy;li&shy;täts&shy;man&shy;age&shy;ment ei&shy;ne sehr ho&shy;he
          Pri&shy;ori&shy;tät so&shy;wohl für die Schütze als auch für mich
          per&shy;sönl&shy;ich hat!“
        </blockquote>
        <div class="author">
          <picture>
            <source srcset="static/selvijevelii.webp" type="image/webp" />
            <img
              src="static/selvijevelii.png"
              type="image/png"
              class="author-avatar"
              alt="Foto von Thu Selvije Velii"
              loading="lazy"
            />
          </picture>
          <div class="author-name">
            Selvije Velii<small>Teamleiterin Qualitätssicherung</small>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
