<section class="work section-dark" id="benefits">
  <div class="container">
    <header>
      <h2>Arbeiten bei Schütze</h2>
      <p>
        Wir bieten dir ein Unternehmen, in dem du wirklich zählst! Der Mensch
        steht bei uns im Mittelpunkt der Unternehmensphilosophie. Wir wollen
        nicht nur unsere Kunden, sondern auch unsere Mitarbeiterinnen und
        Mitarbeiter begeistern. Daher stehen dir bei uns weitreichende
        Gestaltungsmöglichkeiten offen.
      </p>
    </header>

    <main class="row">
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/work-life-balance.svg"
          alt="Work-Life-Balance"
        />
        <figcaption>Work-Life-Balance</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img src="static/benefits/weiterbildung.svg" alt="Weiterbildung" />
        <figcaption>Weiter&shy;bildung</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img src="static/benefits/jobrad.svg" alt="Jobrad" />
        <figcaption>Jobrad</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/flexible-arbeitszeiten.svg"
          alt="Felxible Arbeitszeiten"
        />
        <figcaption>Flexible Arbeits&shy;zeiten</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/mitarbeiterevents.svg"
          alt="Mitarbeiter-Events"
        />
        <figcaption>Mitarbeiter-Events</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img src="static/benefits/fitnessstudio.svg" alt="Fitness-Studio" />
        <figcaption>Fitness-Studio</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/gestaltungsmoeglichkeiten.svg"
          alt="Gestaltungsmöglichkeiten"
        />
        <figcaption>Gestaltungs&shy;möglich&shy;keiten</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/vertrauenskultur.svg"
          alt="Vertrauenskultur"
        />
        <figcaption>Vertrauens&shy;kultur</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img src="static/benefits/sabbatical.svg" alt="Sabbatical" />
        <figcaption>Sabbatical</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/eigenstaendige-projekte.svg"
          alt="Eigenständige Projekte"
        />
        <figcaption>Eigen&shy;ständige Projekte</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/transparenz.svg"
          alt="Transparenz bis in den Vorstand"
        />
        <figcaption>Transparenz bis in den Vorstand</figcaption>
      </figure>
      <figure class="col-6 col-lg-4">
        <img
          src="static/benefits/elternzeit.svg"
          alt="Unterstützung in der Elternzeit"
        />
        <figcaption>Unterstützung in der Elternzeit</figcaption>
      </figure>
    </main>
  </div>
</section>
