<section class="work section-dark section-blue">
  <div class="container">
    <header>
      <h3>Arbeiten bei der Schütze AG</h3>
      <p>
        Wir bieten dir ein Unternehmen, in dem du wirklich zählst! Der Mensch
        steht bei uns im Mittelpunkt der Unternehmensphilosophie. Wir wollen
        nicht nur unsere Kunden, sondern auch unsere Mitarbeiterinnen und
        Mitarbeiter begeistern. Daher stehen dir bei uns weitreichende
        Gestaltungsmöglichkeiten offen.
      </p>
    </header>

    <div class="card-deck">
      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Freiheit, dich zu entwickeln und deine eigene Vorstellung umzusetzen
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">Flexible Arbeitszeitmodelle</div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Offene und herzliche Unternehmenskultur mit regelmäßigen Team-Events
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Transparenz auf allen Ebenen, von der Hierarchie bis zum Gehalt
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Bezahlte Weiterbildungsmöglichkeiten
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Moderne Büroausstattung
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Sportlicher Ausgleich durch Mitgliedschaft im Fitness-Studio
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Möglichkeit eine Sabbaticals
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="static/work/arbeitszeit.jpg"
          class="card-img-top"
          aria-hidden="true"
        />
        <div class="card-body">
          <div class="card-text">
            Kita- und Kinder-Zuschuss
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
