<section class="work section-dark" id="benefits">
  <div class="container">
    <header>
      <h2>Arbeiten bei Schütze</h2>
      <p>
        Wir bieten dir ein Unternehmen, in dem du wirklich zählst! Der Mensch
        steht bei uns im Mittelpunkt der Unternehmensphilosophie. Wir wollen
        nicht nur unsere Kunden, sondern auch unsere Mitarbeiterinnen und
        Mitarbeiter begeistern. Daher stehen dir bei uns weitreichende
        Gestaltungsmöglichkeiten offen.
      </p>
    </header>

    <main class="row">
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/work-life-balance.svg" />
        <figcaption class="sr-only">Work-Life-Balance</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/weiterbildung.svg" />
        <figcaption class="sr-only">Weiterbildung</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/jobrad.svg" />
        <figcaption class="sr-only">Jobrad</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/flexible-arbeitszeiten.svg" />
        <figcaption class="sr-only">Flexible Arbeitszeiten</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/mitarbeiterevents.svg" />
        <figcaption class="sr-only">Mitarbeiter-Events</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/fitnessstudio.svg" />
        <figcaption class="sr-only">Fitness-Studio</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/gestaltungsmoeglichkeiten.svg" />
        <figcaption class="sr-only">Gestaltungs-Möglichkeiten</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/vertrauenskultur.svg" />
        <figcaption class="sr-only">Vertrauens-Kultur</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/sabbatical.svg" />
        <figcaption class="sr-only">Sabbatical</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/eigenstaendige-projekte.svg" />
        <figcaption class="sr-only">Eigenständige Projekte</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/transparenz.svg" />
        <figcaption class="sr-only">Transparenz bis in den Vorstand</figcaption>
      </figure>
      <figure class="col-6 col-md-4">
        <img include src="static/benefits/elternzeit.svg" />
        <figcaption class="sr-only">Unterstützung Elternzeit</figcaption>
      </figure>
    </main>
  </div>
</section>
